
<div class="spaceRows" *ngFor="let user of users | async">
  <div class="row container">
  <div class="col-md-2">
    <img src="https://medizzy.com/_nuxt/img/user-placeholder.d2a3ff8.png" [class.bgCircleOffline]="user.isOnline === false" [class.bgCircleOnline]="user.isOnline === true" height="50" width="50"/>
  </div>
  <div class="col-md-8">
      <i class="far fa-user"></i> {{user.username}} <br>
      <i class="far fa-envelope"></i> {{user.email}}
  </div>
  <div class="col-md-2">
    <button class="btn btn-danger float-right" (click)="deleteUser(user)"><i class="far fa-trash-alt"></i></button>
  </div>
</div>
</div>
